body {
    margin: 0;
    padding: 0;
	width: 100%;
}

#menu
{
	position: fixed;
	width: 100%;
	height: 35px;

}
.horizontal-nav {
	list-style-type: none; /* Remove bullet points */
	padding: 0; /* Remove default padding */
	position: fixed; /* Fix the navigation menu at the top of the viewport */
	top: 65px; /* Adjust the distance from the top */
	text-align: center;
	background-color:whitesmoke;
	width: 100%; /* Make the menu span the entire width */

  }
  
  .horizontal-nav li {
	display: inline-block; /* Display list items horizontally */
	margin-right: 60px; /* Add some spacing between items */
  }

.nav-link{
	background-color:whitesmoke;
	color:#89d0dd;
	font-family: 'Trebuchet MS', sans-serif;

}

.nav-link.clicked {
	color: initial; /* Remove default color chnge after clicked */
  }

.nav-link:hover {
	color: rgb(233, 124, 252); 
  }

  nav ul {
	list-style-type: none; /* Remove default bullet points */
  }
  
  nav li::marker {
	color: whitesmoke; /* Change color of the bullet points */
  }
  .dark_section{
	background-color:  #89d0dd;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adding a shadow effect */
	margin: 0; 
    padding: 0;
	box-sizing: border-box;
  }
  .light_section{
	background-color:  whitesmoke;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Adding a shadow effect */
	margin: 0; 
    padding: 0; 
	box-sizing: border-box;
  }


  .light_titles{
	font-family: 'Trebuchet MS', sans-serif;
	color: whitesmoke;
	font-size: 25px; 
  	font-weight: bold; /* Make the text bold */
	text-align: center;
  }

  .dark_titles{
	font-family: 'Trebuchet MS', sans-serif;
	color: #89d0dd;
	font-size: 25px; 
  	font-weight: bold; /* Make the text bold */
	text-align: center;
  }

  .like-button {
	padding: 10px 20px; 
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px; 
	font-weight: bold; /* Make text bold */
	color:whitesmoke; /* Text color */
	background-color:#007bff; /* Background color */
	border: none; /* Remove border */
	border-radius: 5px; 
	cursor: pointer; /* Change cursor to pointer on hover */
	transition: background-color 0.3s ease; /* Smooth transition */
	margin-left: 48%;
	text-decoration: none; /* Remove underline */
  }

  
  .like-button:hover {
	background-color: #0056b3; /* Change background color on hover */
  }

    

  .light_texts{
	font-family: 'Trebuchet MS', sans-serif;
	color: whitesmoke;
	font-size: 16px; /* Set the font size to 16 pixels */
  }

  .dark_texts{
	font-family: 'Trebuchet MS', sans-serif;
	color: #89d0dd;
	font-size: 16px; 
  }

  .light_mini_titles{
	font-family: 'Trebuchet MS', sans-serif;
	color: whitesmoke;
	font-size: 20px; 
  	font-weight:Bold; /* Make the text bold */
	margin-left: 5%;
	text-decoration: underline;
  }
  .dark_mini_titles{
	font-family: 'Trebuchet MS', sans-serif;
	color: #89d0dd;
	font-size: 20px; 
  	font-weight:Bold; /* Make the text bold */
	margin-left: 5%;
	text-decoration: underline;

  }

  .contact_container{
	width: 40%;
	margin: 50px auto;
	padding: 20px;
	border: 3px solid whitesmoke;
	border-radius: 5px;
	border-style: groove;
	max-height: 400px;
  }

  #email,
  #message {
	width: 100%;
  }

  .send-button{
	padding: 10px 20px; 
	font-size: 16px; 
	font-weight: bold; /* Make text bold */
	color: #f0f1be; /* Text color */
	background-color: #2340b2; /* Background color */
	border: none; /* Remove border */
	border-radius: 5px; /* Add rounded corners */
	cursor: pointer; /* Change cursor to pointer on hover */
	transition: background-color 0.3s ease; 
	position: relative;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);

  }

  .send-button:hover {
	background-color: #74adea; /* Change background color on hover */
  }

  .scrollable-cell {
	width: 100%; /* Adjust width as needed */
	height: 390px; /* Fixed height for the cell */
	overflow: auto; /* Add scrollbar when content exceeds cell height */
	border: none
  }

  .image_container{
	display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
	border: none;
  }
  .video-container {
    display: flex;
    justify-content: center;
}


img {
    display: block; 
    margin: 0 auto; /* Automatically centers the image horizontally within its container */
	max-width: 100%; /* Ensure images fit within their container */
	height: auto;
}
.aboutme_img{
	height: 390px; /* Specific height */
}
.nona_sara_img{
	height: 390px; /* Specific height */
}
.img:hover {
	transform: scale(1.5); /* Increase scale on hover */
  }

table {
    width: 100%;
	table-layout: fixed; /* Use fixed layout for the table */
	max-width: 100%; /* Limit table width to prevent overflow */
	  
}

td {
	max-width: 20%; /* Limit cell width to prevent overflow */
	overflow: hidden; /* Hide content that may overflow */
  }

